<div class="row">
  <div class="col-xs-12 col-md-6 col-offset-3">
    <div class="alert alert-danger" *ngIf="error">
      <p>{{ error }}</p>
    </div>
    <div *ngIf="isLoading" style="text-align: center">
      <app-loading-spinner></app-loading-spinner>
    </div>
    <form [formGroup]="authForm" (ngSubmit)="onSubmit()" *ngIf="!isLoading">
      <div class="form-group">
        <label for="email">Email</label>
        <input
          type="email"
          id="email"
          class="form-control"
          formControlName="email"
        />
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          id="password"
          class="form-control"
          formControlName="password"
        />
      </div>
      <div class="btn-toolbar">
        <button
          class="btn btn-primary"
          type="submit"
          [disabled]="!authForm.valid"
        >
          {{ this.isLoginMode ? "Log in" : "Sign Up" }}
        </button>
        <button class="btn btn-success" (click)="onSwitchMode()" type="button">
          Switch to {{ this.isLoginMode ? "Sign Up" : "Log in" }}
        </button>
      </div>
    </form>
  </div>
</div>
